.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.hello-kitty {
  width: 200px;
  height: 200px;
  background-image: url("hello-kitty.jpg");
  background-size: cover;
  transition: transform 0.5s ease;
  cursor: pointer;
}

.rotate {
  transform: rotate(360deg);
}

input,
button {
  margin-top: 20px;
}
